Erik-BabylonJS-Test/Library/
Erik-BabylonJS-Test/Temp/
Erik-BabylonJS-Test/obj/Debug/
Erik-BabylonJS-Test/node_modules/
Erik-BabylonJS-Test/.vs/
*.sln
Erik-BabylonJS-Editor-Test/node_modules/
BabylonJS-Hide-And-Seek/node_modules/
Server/hide-and-seek/src/gameConfig.js.map
Server/hide-and-seek/src/gameConfig.js
Server/hide-and-seek/src/helpers/Utility.js
Server/hide-and-seek/src/helpers/Utility.js.map
Server/hide-and-seek/src/models/GameConfig.js
Server/hide-and-seek/src/models/GameConfig.js.map
Server/hide-and-seek/src/models/PlayerInputMessage.js
Server/hide-and-seek/src/models/PlayerInputMessage.js.map
Server/hide-and-seek/src/rooms/HASRoom.js
Server/hide-and-seek/src/rooms/HASRoom.js.map
Server/hide-and-seek/src/rooms/schema/HASGameState.js
Server/hide-and-seek/src/rooms/schema/HASGameState.js.map
Server/hide-and-seek/src/rooms/schema/HASRoomState.js
Server/hide-and-seek/src/rooms/schema/HASRoomState.js.map
Server/hide-and-seek/src/rooms/schema/PlayerState.js
Server/hide-and-seek/src/rooms/schema/PlayerState.js.map
Server/hide-and-seek/src/models/RescueOperation.js
Server/hide-and-seek/src/models/RescueOperation.js.map
Server/hide-and-seek/lib/
