*.sln
.vs

node_modules
.DS_Store

Server/**/*.js
Server/**/*.js.map
Server/**/*.d.ts
Server/lib
Server/loadtest.log.bkp

BabylonJS-Hide-And-Seek/dist
BabylonJS-Hide-And-Seek/build
BabylonJS-Hide-And-Seek/declaration
