<!DOCTYPE html>
<html lang="en">
<head>
    <title>###TITLE###</title>
    <!-- Policy -->
    <meta http-equiv="Content-Security-Policy" content="default-src * ws: wss: gap: data: file: http: https: blob:; style-src * 'unsafe-inline' ws: wss: gap: data: file: http: https: blob:; script-src * 'unsafe-inline'###EVAL### ws: wss: gap: data: file: http: https: blob:" />
    <!-- Caches -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- Default -->
    <meta name="edge" content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
    <meta name="browsermode" content="application">
    <meta name="description" content="###TITLE###">
    <meta name="theme-color" content="###SPLASH###">
    <!-- Apple -->
    <meta name="apple-mobile-web-app-title" content="###SHORT###">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- Android  -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Windows  -->
    <meta name="application-name" content="###TITLE###">
    <meta name="msapplication-navbutton-color" content="###SPLASH###">
    <meta name="msapplication-tooltip" content="###TITLE###">
    <meta name="msapplication-starturl" content="###START###">
    <meta name="msapplication-TileColor" content="###SPLASH###">
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Favorite -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- Toaster - https://github.com/dolce/iziToast -->
    <link href="css/toaster.css" rel="stylesheet" type="text/css">
    ###PWA###
    <link rel="stylesheet" type="text/css" href="style.css" nonce="###HASH###">
    <script type="text/javascript" nonce="###HASH###">
    </script>
</head>
<body touch-action="none">
    <!-- ******************************** -->
    <!-- CUSTOM: Loader for this template -->
    <!-- ******************************** -->
    <div id="panel">
        <center>
            <div id="proj">###TITLE###</div>
            <div id="load" class="load"></div>
            <div id="status">Loading</div>
            <div id="details">Loading script files</div>
        </center>
    </div>
    <!-- ******************************** -->
    <!-- CANVAS: Markup for this template -->
    <!-- ******************************** -->
    <canvas id="cvs"></canvas>
    <!-- ******************************** -->
    <!-- SCRIPT: Markup for this template -->
    <!-- ******************************** -->
    <script type="text/javascript" src="###SCRIPT###/fastclick.js"></script>
    <script type="text/javascript" src="###SCRIPT###/toaster.js"></script>
    <script type="text/javascript" src="###SCRIPT###/meter.js"></script>
    <script type="text/javascript" src="###SCRIPT###/pep.js"></script>

    <!-- Engine Libraries -->
    <script type="text/javascript" src="###SCRIPT###/babylon.###MINMAX###.js"></script>
    <script type="text/javascript" src="###SCRIPT###/babylon.gui.js"></script>
    <script type="text/javascript" src="###SCRIPT###/babylon.gltf.js"></script>
    <script type="text/javascript" src="###SCRIPT###/babylon.earcut.js"></script>

    ###ADDONS###
    <!-- Manager Libraries -->
    <script type="text/javascript" src="###SCRIPT###/babylon.manager.js"></script>
    <script type="text/javascript" src="###SCRIPT###/babylon.materials.js"></script>

    <!-- Project Script Bundle -->
    <script type="text/javascript" src="###PATH###/###BUNDLE###"></script>

    <!-- Default Scene Loader -->
    <script type="text/javascript" nonce="###HASH###">
    window.getUrlParameter = (name) => {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(window.location.search);
        return (results !== null) ? decodeURIComponent(results[1].replace(/\+/g, ' ')) : null;
    };
    ///////////////////////////////////////////////////////////
    // Babylon Service Worker Hooks
    ///////////////////////////////////////////////////////////
    window.versionStamp = '###VERSION###';
    window.autoStartLoader = false;
    window.useServiceWorker = false;###WORK###
    window.onServiceWorker = () => {
        if (window.autoStartLoader === true) {
            window.startSceneLoader();
        }
    };
    window.updateAvailable = () => {
        var msg = "A new version is available";
        console.warn(msg);
        iziToast.show({
            title: "UPDATE:",
            message: msg,
            timeout: 30000,
            buttons: [['<button>Reload</button>', function (instance, toast) { window.location.reload(true); }, true]]
        });    
    };
    ///////////////////////////////////////////////////////////
    window.ktx2 = ###KTX2###;
    window.scene = null;
    window.toolkit = true;
    var engine = null;
    var pagetype = "###TYPE###", defaultscene= "###SCENE###", autohide = ###AUTOHIDE###, percent = ###PERCENT###, offline = ###OFFLINE###, validategltf = ###VALIDATEGLTF###, handlecontext = ###CONTEXTLOST###, physics = ###AMMO###, navmesh = ###RECAST###, capsule = ###CAPSULE###, renderengine = ###RENDERENGINE###, renderinbackground = ###RENDERINBACKGROUND###, pausewhenminimized = ###PAUSEWHENMINIMIZED###, antialias = ###ANTIALIAS###, adaptive = ###ADAPTIVE###, datax = "###DATA###", folder = "###PATH###/", title = "###TITLE###";
    var loaded = false, paused = false, reloader = false, downloaded = 0, edownloaded = 0;
    var kilobyte = 1024, megabyte = (kilobyte * kilobyte);
    var divcvs = document.getElementById("cvs");
    var panel = document.getElementById("panel");
    var proj = document.getElementById("proj");
    var loader = document.getElementById("load");
    var label = document.getElementById("status");
    var details = document.getElementById("details");
    // ************************************************************************ //
    // QUERY STRING - Parse Root Urls And Scene Name Parameters                 //
    // ************************************************************************ //
    var rooturl = "" + (window.getUrlParameter("root") || "");
    if (rooturl != null && rooturl !== "" && !rooturl.endsWith("/")) rooturl += "/";
    var sceneurl = "" + (window.getUrlParameter("path") || folder);
    if (sceneurl != null && sceneurl !== "" && !sceneurl.endsWith("/")) sceneurl += "/";
    var scenename = "" + (window.getUrlParameter("scene") || defaultscene);
    var scenepath = "" + (rooturl + sceneurl);
    var adaptparam = window.getUrlParameter("adaptive");
    if (adaptparam != null && adaptparam !== "") {
        adaptparam = adaptparam.toLowerCase();
        adaptive = (adaptparam === "true" || adaptparam === "yes");
    }
    // ************************************************************************ //
    // STATS PANEL - Setup Performance Stats Information Panel                  //
    // ************************************************************************ //
    var showStatsPanel = ###STATS###;
    if (showStatsPanel === true && typeof FPSMeter !== "undefined") {
        var anchor = ###ANCHOR###;
        var stats = '###MODE###';
        var look = '###THEME###';
        var atop = 'auto';
        var aleft = 'auto';
        var aright = 'auto';
        var abottom = 'auto';
        if (anchor === 0) {
            atop = '5px';
            aleft = '5px';
        } else if (anchor === 1) {
            atop = '5px';
            aright = '5px';
        } else if (anchor === 2) {
            abottom = '5px';
            aleft = '5px';
        } else if (anchor === 3) {
            abottom = '5px';
            aright = '5px';
        } else {
            atop = '5px';
            aright = '5px';
        }
        window.METER = new FPSMeter({
            interval:  100,         // Update interval in milliseconds.
            smoothing: 10,          // Spike smoothing strength. 1 means no smoothing.
            show:      stats,       // Whether to show 'fps', or 'ms' = frame duration in milliseconds.
            toggleOn:  'click',     // Toggle between show 'fps' and 'ms' on this event.
            decimals:  0,           // Number of decimals in FPS number. 1 = 59.9, 2 = 59.94, ...
            maxFps:    60,          // Max expected FPS value.
            threshold: 100,         // Minimal tick reporting interval in milliseconds.
            // ..
            // Position Options
            // ..
            position: 'absolute',   // Meter position.
            zIndex:   10,           // Meter Z index.
            top:      atop,         // Meter top offset.
            left:     aleft,        // Meter left offset.
            right:    aright,       // Meter right offset.
            bottom:   abottom,      // Meter bottom offset.
            margin:   '0 0 0 0',    // Meter margin. Helps with centering the counter when left: 50%;
            // ..
            // Theme Options
            // ..
            theme: look,            // Meter theme. Build in: 'dark', 'light', 'transparent', 'colorful'.
            heat:  1,               // Allow themes to use coloring by FPS heat. 0 FPS = red, maxFps = green.
            // ..
            // Graph Options
            // ..
            graph:   1,             // Whether to show history graph.
            history: 20             // How many history states to show in a graph.
        });
    }
    // ************************************************************************ //
    // LOADING SCREEN - Attach Project Loadeing Screen Event Handler            //
    // ************************************************************************ //
    function LoadingScreen() {};
    LoadingScreen.prototype.displayLoadingUI = function() {};
    LoadingScreen.prototype.hideLoadingUI = function() {};
    // ************************************************************************ //
    // GLTF LOADER - General Page Loading Funcitons                             //
    // ************************************************************************ //
    BABYLON.SceneManager.SupportSRGBBuffers = false;
    BABYLON.SceneManager.PhysicsCapsuleShape = capsule;
    BABYLON.SceneLoader.OnPluginActivatedObservable.addOnce(function (loader) {
        loader.validate = validategltf;
    });
    // ************************************************************************ //
    // PAGE UTILTITIES - General Page Utility Funcitons                         //
    // ************************************************************************ //
    window.updateStatus = function(status, info, state) {
        if (label != null && status != null && label.innerHTML !== status) {
            label.innerHTML = status;
        }                   
        if (details != null && info != null && details.innerHTML !== info) {
            details.innerHTML = info;
        }
    };
    window.updateDetails = function(info, state) {
        if (details != null && info != null && details.innerHTML !== info) {
            details.innerHTML = info;
        }
    };
    window.updateProgress = function(status, state) {
        if (label != null && status != null && label.innerHTML !== status) {
            label.innerHTML = status;
        }                   
    };
    window.showSceneLoader = function() {
        if (panel != null) panel.className = "";
        if (proj != null) proj.className = "";
        if (label != null) label.className = "";
        if (details != null) details.className = "";
        if (loader != null) loader.className = "data";
        // ..
        divcvs.style.opacity = "0";
        // DEPRECIATED: engine.clear(new BABYLON.Color3(0, 0, 0), true, true, true);
        engine.displayLoadingUI();
        window.updateStatus("", "", 0);
    };
    window.hideSceneLoader = function() {
        if (panel != null) panel.className = "hidden";
        if (proj != null) proj.className = "hidden";
        if (label != null) label.className = "hidden";
        if (details != null) details.className = "hidden";
        if (loader != null) loader.className = "hidden";
        // ..
        engine.hideLoadingUI();
        divcvs.style.opacity = "1";
        window.updateStatus("", "", 0);
        if (BABYLON.SceneManager.OnLoadCompleteObservable.hasObservers() === true) {
            BABYLON.SceneManager.OnLoadCompleteObservable.notifyObservers(engine);
        }
        // ..
        // Support Top Window Scene Loaders (Note: Post Async Window Message)
        // ..
        if (BABYLON.SceneManager.IsFrameWindow()) {
            BABYLON.SceneManager.PostWindowMessage({source:"babylon", command:"loadscenecomplete"}, "*");
        }
    };
    window.showErrorMessage = function (message, title, timeout) {
        console.error(message);
        iziToast.error({
            message: message,
            title: title || "Error",
            timeout: timeout || 0
        });    
    };
    window.handleLoadProgress = function(evt) {
        var defaultDetails = "Loading scene content";
        var pstatus = "Loading";
        var details = defaultDetails;
        var lstate = (BABYLON.Utilities != null) ? BABYLON.Utilities.GetLoadingState() : 0;
        switch (lstate) {
            case 0:     // LOAD SCENE CONTENT
                //pstatus = "Loading";
                //details = defaultDetails;
                break;
            case 1:     // PARSE NODE TRANSFORMS
                //pstatus = "Loading";
                //details = defaultDetails;
                break;
            case 2:     // PARSE SCENE METADATA
                //pstatus = "Parsing";
                //details = "Parsing scene content";
                break;
            case 3:     // START ASSET PRELOADER
                //pstatus = "Preload";
                //details = "Preload scene content";
                break;
            case 4:     // PREPARE SCENE CONTENT
                //pstatus = "Ready";
                //details = "Preparing scene content";
                break;
        }
        if (evt.loaded > 0) {
            //var loadedPercent = "";
            //if (evt.lengthComputable) {
            //    loadedPercent = (evt.loaded * 100 / evt.total).toFixed() + "%";
            //} else {
            //    var dlCount = evt.loaded / (1024 * 1024);
            //    loadedPercent = (Math.floor(dlCount * 100.0) / 100.0).toFixed() + "MB";
            //}
            //console.log("Progress: " + loadedPercent);
            if (percent === true && evt.lengthComputable) {
                var percentage = (evt.loaded * 100 / evt.total).toFixed();
                //var percentstatus = (lstate >= 2) ? pstatus : (percentage + "%");
                var percentstatus = (percentage + "%");
                window.updateStatus(percentstatus, details, lstate);
                // DEPRECIATED: var percentstatus = (lstate >= 2) ? "" : (" " + percentage + "%");
                // DEPRECIATED: window.updateStatus(pstatus, (details + percentstatus), lstate);
            } else {
                var units = " MB";
                var dlCount = evt.loaded / megabyte;
                var progress = Math.ceil(dlCount * 100.0) / 100.0;
                if (progress > 0) {
                    if (progress >= downloaded) {
                        downloaded = progress;
                    }
                    if (downloaded > 0) {
                        if (downloaded > kilobyte) {
                            units = " GB";
                            downloaded = (downloaded / kilobyte);
                        }
                        //var sizestatus = (lstate >= 2) ? pstatus : ("" + downloaded.toFixed()) + units;
                        var sizestatus = ("" + downloaded.toFixed()) + units;
                        window.updateStatus(sizestatus, details, lstate);
                        // DEPRECIATED: var sizestatus = (lstate >= 2) ? "" : (" " + downloaded.toFixed() + units);
                        // DEPRECIATED: window.updateStatus(pstatus, (details + sizestatus), lstate);
                    }
                }
            }
        } else {
            window.updateStatus(pstatus, details, lstate);
        }
    };
    window.handleExtraProgress = function(evt) {
        var lstate = (BABYLON.Utilities != null) ? BABYLON.Utilities.GetLoadingState() : 0;
        if (evt.loaded > 0) {
            if (percent === true && evt.lengthComputable) {
                var percentage = (evt.loaded * 100 / evt.total).toFixed();
                var percentstatus = (percentage + "%");
                window.updateProgress(percentstatus, lstate);
            } else {
                var units = " MB";
                var dlCount = evt.loaded / megabyte;
                var progress = Math.ceil(dlCount * 100.0) / 100.0;
                if (progress > 0) {
                    if (progress >= edownloaded) {
                        edownloaded = progress;
                    }
                    if (edownloaded > 0) {
                        if (edownloaded > kilobyte) {
                            units = " GB";
                            edownloaded = (edownloaded / kilobyte);
                        }
                        var tdownloaded = (downloaded + edownloaded);
                        var sizestatus = ("" + tdownloaded.toFixed()) + units;
                        window.updateProgress(sizestatus, lstate);
                    }
                }
            }
        }
    };
    BABYLON.SceneManager.OnAssetManagerProgress = function(evt) {
        window.handleExtraProgress(evt);
    };
    // ************************************************************************ //
    // SCENE LOADER - Execute Scene Loading With Progress Information           //
    // ************************************************************************ //
    window.executeSceneLoader = function(root, name) {
        window.updateStatus("Loading", "Loading scene content", 0);
        var qlevel = BABYLON.SceneManager.GetRenderQuality();
        var qlabel = "High";
        if (qlevel === 1) qlabel = "Medium";
        else if (qlevel == 2) qlabel = "Low";
        BABYLON.Tools.Log("Graphics render quality: " + qlabel);
        BABYLON.SceneLoader.Load(root, name, engine, function(newscene) {
            window.scene = newscene;
            window.scene.executeWhenReady(function() {
                loaded = true;
                engine.runRenderLoop(function() { 
                    if (BABYLON.SceneManager.RenderLoopReady === true && BABYLON.SceneManager.PauseRenderLoop === false && BABYLON.SceneManager.LostRenderContext === false) {
                        if (window.METER) {
                            window.METER.tickStart();
                            if (BABYLON.SceneManager.OnPreRenderLoopObservable.hasObservers() === true) {
                                BABYLON.SceneManager.OnPreRenderLoopObservable.notifyObservers();
                            }
                            window.scene.render();
                            if (BABYLON.SceneManager.OnPostRenderLoopObservable.hasObservers() === true) {
                                BABYLON.SceneManager.OnPostRenderLoopObservable.notifyObservers();
                            }
                            window.METER.tick();
                        } else {
                            if (BABYLON.SceneManager.OnPreRenderLoopObservable.hasObservers() === true) {
                                BABYLON.SceneManager.OnPreRenderLoopObservable.notifyObservers();
                            }
                            window.scene.render();
                            if (BABYLON.SceneManager.OnPostRenderLoopObservable.hasObservers() === true) {
                                BABYLON.SceneManager.OnPostRenderLoopObservable.notifyObservers();
                            }
                        }
                    }
                });
                window.resizeRenderingCanvas();
                // DEPRECIATED
                // if (autohide === true) {
                //    window.setTimeout(()=>{ // Note: Fallback Hide Scene Loader Handler
                //        var hideSceneLoaderHandled = (window.scene != null && window.scene.metadata != null && window.scene.metadata.unity != null && window.scene.metadata.unity.hideloader != null && window.scene.metadata.unity.hideloader === true);
                //        if (hideSceneLoaderHandled === false) {
                //            if (divcvs.style.opacity !== "1") {
                //                window.hideSceneLoader();
                //                console.warn("FALLBACK: Hide Scene Loader Timeout: 5000ms");
                //            }
                //        }
                //    }, 5000); 
                // }
            });
        }, function(evt) {
            window.handleLoadProgress(evt);
        }, function(scene, message, exception) {
            window.showErrorMessage(exception || message || ("Unknown error loading scene:" + name));
        });
    };
    window.loadSceneFile = function() {
        loaded = false;
        window.scene = null;
        window.showSceneLoader();
        window.executeSceneLoader(scenepath, scenename);
    };
    window.defaultSceneLoader = function() {
        try {
            window.loadSceneFile();
        } catch (ex2) {
            window.showErrorMessage(ex2.message || "Unknown Scene Exception");
        }
    };
    window.recastDetourLoader = function() {
        try {
            if (typeof Recast !== "undefined") {
                Recast().then(function() { defaultSceneLoader(); });
            } else {
                window.defaultSceneLoader();
            }
        } catch (ex3) {
            window.showErrorMessage(ex3.message || "Unknown Recast Exception");
        }
    };
    window.bulletPhysicsLoader = function() {
        try {
            if (typeof Ammo !== "undefined") {
                Ammo().then(function() {  recastDetourLoader(); });
            } else {
                window.recastDetourLoader();
            }
        } catch (ex4) {
            window.showErrorMessage(ex4.message || "Unknown Bullet Exception");
        }
    };
    window.startSceneLoader = function() {
        window.bulletPhysicsLoader();
    };
    // ************************************************************************ //
    // RENDER CANVAS - Engine Reseize Observer Notification                     //
    // ************************************************************************ //
    window.resizeRenderingCanvas = function() {
        if (engine != null) engine.resize();
        if (BABYLON.SceneManager.OnEngineResizeObservable.hasObservers() === true) {
            BABYLON.SceneManager.OnEngineResizeObservable.notifyObservers(engine);
        }
    };
    window.addEventListener("resize", function() { window.resizeRenderingCanvas(); });
    // ************************************************************************ //
    // BABYLON ENGINE - Create Engine And Load Project Scene Hiearchy           //
    // ************************************************************************ //
    window.setupBabylonEngineHostPage = function() {
        try {
            if (renderengine === 1) {
                if (navigator.gpu) {
                    engine = new BABYLON.WebGPUEngine(divcvs);
                    engine.initAsync({ jsPath: "###SCRIPT###/glslang.js", wasmPath: "###SCRIPT###/glslang.wasm" }).catch((ex) => { showErrorMessage(ex.message || "Unknown WebGPU Exception"); }).then(function() {
                        BABYLON.Tools.Log("WebGPU rendering engine enabled");
                        window.prepareBabylonEngineProperties();
                    });
                } else {
                    BABYLON.Tools.Warn("WebGPU is not supported on platform. Falling back to WebGL");
                    engine = new BABYLON.Engine(divcvs, antialias, { preserveDrawingBuffer: true, stencil: true, premultipliedAlpha: false, doNotHandleContextLost: !handlecontext }, adaptive);
                    window.prepareBabylonEngineProperties();
                }
            } else {
                engine = new BABYLON.Engine(divcvs, antialias, { preserveDrawingBuffer: true, stencil: true, premultipliedAlpha: false, doNotHandleContextLost: !handlecontext }, adaptive);
                window.prepareBabylonEngineProperties();
            }
        } catch (ex3) {
            window.showErrorMessage(ex3.message || "Unknown Engine Exception");
        }
    };
    window.prepareBabylonEngineProperties = function() {
        // ************************************************************************ //
        window.audioEngineClicked = false;    
        window.doAudioEngineClick = () => {
            if (window.audioEngineClicked === false) {
                if (BABYLON.Engine && BABYLON.Engine.audioEngine && BABYLON.Engine.audioEngine.unlock) {
                    window.audioEngineClicked = true;
                    try { BABYLON.Engine.audioEngine.unlock(); } catch {}
                    document.removeEventListener("click", window.doAudioEngineClick);
                }
            }
        }
        document.addEventListener("click", window.doAudioEngineClick);
        // ************************************************************************ //
        engine.loadingScreen = new LoadingScreen();
        engine.enableOfflineSupport = offline;
        // DEPRECIATED: engine.renderEvenInBackground = renderinbackground;
        // DEPRECIATED: engine.clear(new BABYLON.Color3(0, 0, 0), true, true, true);
        engine.displayLoadingUI();
        // ************************************************************************ //
        if (handlecontext === true) {
            engine.onContextLostObservable.add(()=>{
                BABYLON.SceneManager.LostRenderContext = true;
                console.warn(">>> Render context lost. Pausing render loop.");
            });
            engine.onContextRestoredObservable.add(()=>{
                if (BABYLON.SceneManager.OnRebuildContextObservable.hasObservers() === true) {
                    BABYLON.SceneManager.OnRebuildContextObservable.notifyObservers(engine);
                }
                BABYLON.SceneManager.LostRenderContext = false;
                console.warn(">>> Render context resored. Unpaused render loop.");
            });
        }
        // ************************************************************************ //
        // KTX2 DECODER - Initialize Default Loader Locations                       //
        // ************************************************************************ //
        if (BABYLON.KhronosTextureContainer2 && BABYLON.KhronosTextureContainer2.URLConfig) {
            var href = window.location.href;
            var path = href.substring(0, href.lastIndexOf('/')) + "/";
            BABYLON.KhronosTextureContainer2.URLConfig.jsDecoderModule = path + "###SCRIPT###/babylon.ktx2Decoder.js";
            BABYLON.KhronosTextureContainer2.URLConfig.jsMSCTranscoder = path + "###SCRIPT###/msc_basis_transcoder.js";
            BABYLON.KhronosTextureContainer2.URLConfig.wasmMSCTranscoder = path + "###SCRIPT###/msc_basis_transcoder.wasm";
            BABYLON.KhronosTextureContainer2.URLConfig.wasmUASTCToASTC = path + "###SCRIPT###/uastc_astc.wasm";
            BABYLON.KhronosTextureContainer2.URLConfig.wasmUASTCToBC7 = path + "###SCRIPT###/uastc_bc7.wasm";
            BABYLON.KhronosTextureContainer2.URLConfig.wasmUASTCToRGBA_UNORM = path + "###SCRIPT###/uastc_rgba32_unorm.wasm";
            BABYLON.KhronosTextureContainer2.URLConfig.wasmUASTCToRGBA_SRGB = path + "###SCRIPT###/uastc_rgba32_srgb.wasm";
        }
        if (window.useServiceWorker === true) {
            window.autoStartLoader = true; // Note: Allow Service Worker To Start The Scene Loader After Page Is Fully Loaded
            window.updateStatus("Please wait", "Starting scene loader", 0);
        } else {
            window.startSceneLoader();
        }
    };
    // ************************************************************************ //
    // PAGE VISIBLE - Pause Render Loop When Not Visible                        //
    // ************************************************************************ //
    document.addEventListener("visibilitychange", function() {
        if (document.visibilityState === 'visible') {
            //console.log(">>> PAGE IS VISIBLE: " + document.visibilityState);
        } else {
            //console.lowarng(">>> PAGE IS NOT VISIBLE: " + document.visibilityState);
        }
    });
    // ************************************************************************ //
    // DEFAULT LOADER - Initialize Default Scene Loading                        //
    // ************************************************************************ //
    window.onload = function() {
        window.setupBabylonEngineHostPage();
    };
    </script>
</body>
</html>
